@import "./variables";
@import "./responsive";

.favorite {
  .section-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 50px;
    span {
      background-color: $first-color;
    }
  }

  text-align: center;
  padding: 10px 40px;

  &-card {
    display: flex;
    justify-content: center;
    gap: 60px;
    img {
      width: 200px;
      height: auto;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        transform: scale(1.18);
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 850px) {
  .favorite {
    &-card {
      flex-direction: column;
      align-items: center;
    }
  }
}
